.project_container {
    padding: 1em;
}

.title_container {
    display: flex;
    justify-content: space-between;
}

.table, td, tr, th {
    display: flex;
    width: 75em;
}

.table_columns {
    margin: 3em 0em 1em 0em;
    font-size: 1em;
}