.btn {
    background-color: #ff0000;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
}

.btn:hover {
    background-color: #029000;
}