.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #029000;
    padding: 1em;
    max-height: 15vh;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    color: white;
}

.item {
    margin-right: 1em;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: black;
}

.logomarca {
    width: 75px;
    border-radius: 50px;
    box-shadow: 50px;
}